{% extends "base.html" %}
{% block content %}
<style>
    .list-group-item{
        margin-bottom:15px;
        padding:30px 20px;
        
    }
</style>
<div class="container py-4">
    <div class="row">
        <div class="col-7 mx-auto">
            <div class="card p-4">
        
                <div class="d-flex flex-row justify-content-between">
                    <h6>Paypal Balance Available</h6>
                    <div>
                        <i class="fa-solid fa-gear text-dark"></i>
                    </div>
                </div>
                <div class="price-section ">
                    <p style='font-size:55px;font-weight:bold;'>
                        {{data.currency}}  {{ data.amount}} 
                    </p>
                    <p class='lead'>
                        Account Address : {{data.email}}
                    </p>
                   
                </div>
                <div class="mt-3">
                    <a href="/send_money/" style='text-decoration:none;background-color:rgb(230, 15, 26);font-weight:bold;' class='text-white px-3 py-2 mt-4 text-sm rounded-pill border-0'>
                        Transfer Money
                    </a>
                </div>
            </div>


           
        </div>
            
    </div>
   
</div>
{% endblock content %}