{% extends "base.html" %}
{% block content %}

<div class="container">

    <div class="row">
        <div class="col-6 mx-auto mt-4 card">
            <div class="card-header " style="font-size:18px;font-weight:bold;">
                Notifications
            </div>
            
            <div class="mt-2 py-2">
                <div class='d-flex justify-content-between border p-3' style="border-radius:30px;" > 
                    <div class=" d-flex flex-column " >
                        <span style="font-size:18px;font-weight:bold;">Engr Umair</span>
                        <span style="font-size:12px;">

                            Requesting Money
                        </span>
                    </div>
                    <div>
                        <span class="badge badge-danger px-2">
                            35 $
                        </span>
                    </div>
                    
                </div>

                <div class='mt-2 d-flex justify-content-between border p-3' style="border-radius:30px;" > 
                    <div class=" d-flex flex-column " >
                        <span style="font-size:18px;font-weight:bold;">Jawad</span>
                        <span style="font-size:12px;">

                            Sent Money
                        </span>
                    </div>
                    <div>
                        <span class="badge badge-success px-2">
                            30 $
                        </span>
                    </div>
                    
                </div>
                <div class='mt-2 d-flex justify-content-between border p-3' style="border-radius:30px;" > 
                    <div class=" d-flex flex-column " >
                        <span style="font-size:18px;font-weight:bold;">Jawad</span>
                        <span style="font-size:12px;">

                            Sent Money
                        </span>
                    </div>
                    <div>
                        <span class="badge badge-success px-2">
                            30 $
                        </span>
                    </div>
                    
                </div>
                <div class='mt-2 d-flex justify-content-between border p-3' style="border-radius:30px;" > 
                    <div class=" d-flex flex-column " >
                        <span style="font-size:18px;font-weight:bold;">Jawad</span>
                        <span style="font-size:12px;">

                            Sent Money
                        </span>
                    </div>
                    <div>
                        <span class="badge badge-success px-2">
                            30 $
                        </span>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}

