{% extends "base.html" %}
{% block content %}
<style>
    .list-group-item{
        margin-bottom:15px;
        padding:30px 20px;
        
    }
</style>
<div class="container py-4">
    <div class="row">
        <div class="col-7 mx-auto">
            <div class="card p-4">
        
                <div class="d-flex flex-row justify-content-between">
                    <h6>Payapp Balance</h6>
                    <div>
                        {% comment %} <i class="fa-solid fa-gear text-dark"></i> {% endcomment %}
                    </div>
                </div>
                <div class="price-section ">
                    <p style='font-size:55px;font-weight:bold;'>
                        $1000
                    </p>
                    <p class='lead'>
                        Available
                    </p>
                </div>
                <hr>
                <div>
                    <form id="sendMoneyForm">
                        <div class="row">
                          <div class="col-8">
                            <input type="text" id="amountInput" class="form-control" placeholder="Enter Amount Here">
                          </div>
                          <div class="col">
                            <select id="currencySelect" class="form-control">
                                <option>Select Currency</option>
                                <option value="USD">$ USD</option>
                              </select>
                          </div>
                        </div>
                        <input type="text" id="accountNumberInput" placeholder="Account Number" class="form-control mt-4">
                    </form>
                    <div class="mt-2">
                        <input type="text" id="calculatedAmount" class="form-control" placeholder="Calculated Amount" readonly>
                    </div>
                </div>
                <hr>
                <div>
                    <p class="text-center">Conversion Rate 1$ = 275 Pkr</p>
                </div>
                <div>
                    <button id="sendMoneyButton" style='background-color:rgb(230, 15, 26);font-weight:bold;' class='text-white px-3 py-2 mt-4 text-sm rounded-pill border-0'>
                        Send Money
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('accountNumberInput').addEventListener('input', function() {
        calculateAmount();
    });

    function calculateAmount() {
        const amountInput = document.getElementById('amountInput').value;
        const selectedCurrency = document.getElementById('currencySelect').value;
        const accountNumber = document.getElementById('accountNumberInput').value;

        // Your conversion logic here
        const conversionRate = 275;
        let calculatedAmount = amountInput * conversionRate;

        // Display the calculated amount in the input field
        document.getElementById('calculatedAmount').value = calculatedAmount + ' ' + selectedCurrency;
    }
</script>

{% endblock content %}
