{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row py-4">
        <div class=" mx-auto">
            <div class="card ">
                <div class="card-header" style="font-size:30px;">
                    Transactions History
                </div>

                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Transaction Type</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Conversion Rate</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Credit</td>
                        <td>30</td>
                        <td>GBP</td>
                        <td style="color:green;">SUCCESS</td>
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}